.footer {
    height: 10vh;
    width: 100vw;
    display: flex;
    flex-direction: row;   
    justify-content: flex-end;
    bottom: 0;
    margin-top: 2%;
    padding: auto;   

  }
.text{
  align-self: center;
}